body {
    font-family: "Segoe UI";
}


.signin form {
    text-align: center !important;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    padding-bottom: 5px;
    margin: 25px auto 0 auto;
}


.signin h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 16px;
}

.signin input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    color: #495057;
    font-family: inherit;
    font-size: inherit;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.signin button {
    display: block;
    color: white;
    background-color: rgb(0, 123, 255);
    border: 1px solid transparent;
    border-radius: 4.8px;
    font-size: 20px;
    width: 100%;
    padding: 8px 1.6px;
    margin-top: 16px;
}

.signin button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.signup {
    text-align: center !important;
    width: 100%;
    max-width: 330px;
    padding: 0 15px 15px 15px;
    margin: 0 auto; 
}

.copyright {
    color: #6c757d;
    margin-top: 20px;
}

*, ::after, ::before {
    box-sizing: border-box;
}